@import '../variables';
.booking-calendar {
  .calendar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 2.5vw;

    @media screen and (max-width: 1050px) {
      justify-content: center;
    }
  }

  .titulo-calendar h2 {
    color: $second-color;
    padding: 20px 0px;
  }
  .texto-fechas {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    height: 100px;
    background-color: $white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #aeaeae;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    @media screen and (max-width: $large) {
      margin-top: 20px;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 20px;
      width: 90%;
    }
    @media screen and (min-width: $medium) {
      width: 25%;
    }
  }
  .button3 {
    background-color: #1dbeb4;
    color: white;
    border: none;
    width: 100%;
    height: 45px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    font-size: 16pt;
    margin-left: 0px;
    transform: rotate(-0.16deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.calendar .mobile-calendar {
    display: none;
    @media screen and (max-width: 510px) {
      display: block;
    }
  }
  div.calendar .desk-calendar {
    @media screen and (max-width: 510px) {
      display: none;
    }
  }

  .react-datepicker__month-container {
    display: flex;
    float: right;
    width: 300px;
    margin: 20px 0px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
  }
  .react-datepicker__month {
    margin: 0.4rem;
    text-align: left;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    display: inline-block;
    width: 2.5rem;
    line-height: 2rem;
    text-align: center;
    margin: 0;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    color: #1dbeb4;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    text-transform: capitalize;
    position: relative;
    left: -128px;
    width: 209px;
  }
  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow,
  .react-datepicker__navigation-icon::before {
    border-color: $white;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: '';
    display: block;
    height: 9px;
    position: absolute;
    top: 6px;
    width: 9px;
  }
  .react-datepicker__navigation:hover *::before {
    border-color: $first-color;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    border-radius: 1rem;
    background-color: $first-color;
    color: #fff;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    border-radius: 1rem;
    background-color: $first-color;
    color: #fff;
  }
  .react-datepicker__day--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ),
  .react-datepicker__month-text--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ),
  .react-datepicker__quarter-text--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ),
  .react-datepicker__year-text--in-selecting-range:not(
      .react-datepicker__day--in-range,
      .react-datepicker__month-text--in-range,
      .react-datepicker__quarter-text--in-range,
      .react-datepicker__year-text--in-range
    ) {
    background-color: rgba(33, 107, 165, 0.5);
    border-radius: 1rem;
  }
  .react-datepicker__header {
    text-align: left;
    background-color: #f0f0f0;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
    width: 0;
  }
  .react-datepicker__navigation {
    align-items: center;
    background-color: $first-color;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 135px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 50px;
    width: 50px;
    text-indent: -999em;
    overflow: hidden;
    border-radius: 100%;
    margin: 0px 10px;
    @media screen and (max-width: $medium) {
      top: 20px;
      height: 40px;
      width: 40px;
    }
  }

  .react-datepicker {
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 1rem;
    display: flex;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    width: 60vw;
    padding: 0px 40px;
    justify-content: space-evenly;
    @media screen and (max-width: $large) {
      justify-content: center;
    }
    @media screen and (max-width: $medium) {
      width: 90vw;
      padding: 0;
      justify-content: center;
    }
  }
  .react-datepicker__day-names {
    margin-bottom: -8px;
    width: 200px;
    left: -140px;
    /* background-color: green; */
    position: relative;
  }
}
