@import '../variables';

.map p {
  margin: 20px 2.5vw;
}
.map img {
  margin: 20px 2.5vw;
  width: 93vw;
}
#map {
  height: 50vh;
  width: 100%;
}

// html,
// body {
//   height: 50%;
//   margin: 0;
//   padding: 0;
// }
